
      .course-title {
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding: 100px;
        font-size: 34px;
        color: #fff;
      }
      body {
        position: relative;
      }
      .wrapper {
        width: 100%;
        height: 100vh;
        background: #1d1313;
        position: absolute;
        overflow: hidden;
      }
      .wrapper span.menu {
        z-index: 99;
        position: absolute;
        top: 20px;
        left: 10px;
        width: 35px;
        height: 4px;
        background-color: #fff;
        cursor: pointer;
      }
      .wrapper span.menu::before,
      .wrapper span.menu::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        background-color: #fff;
        width: 35px;
        height: 4px;
      }
      .wrapper span.menu::before {
        top: -8px;
      }
      .wrapper span.menu::after {
        bottom: -8px;
      }
      .wrapper .title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .wrapper .title h1 {
        color: #30c4c9;
      }
      .wrapper .overlay {
        background-color: #ff6b81;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: -99%;
        transition: all 0.5s ease;
      }
      .wrapper .overlay ul {
        width: 100%;
        text-align: center;
        margin-top: 200px;
        padding-left: 0;
        margin-left: -10px;
        font-size: 18px;
      }
      .wrapper .overlay ul li {
        margin: 10px 0;
      }
      .wrapper .overlay ul li a {
        color: #fff;
        position: relative;
        display: inline-block;
        overflow: hidden;
      }
      .wrapper .overlay ul li a::after {
        display: block;
        content: "";
        border-radius: 2px;
        left: 0;
        bottom: -10px;
        background-color: #fff;
        height: 5px;
        transform: translateX(-101%);
      }
      .wrapper .overlay ul li a:hover::after {
        animation: border-anim 0.5s ease normal;
      }
      @keyframes border-anim {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }
      .anim {
        left: 0;
        bottom: 0;
        width: 25%;
        transition: all 0.5s ease;
        animation: menu-anim 1.5s ease-out forwards;
      }
      @keyframes menu-anim {
        0% {
          left: 0;
          bottom: -99%;
          width: 100%;
        }
        33% {
          left: -99.5%;
          bottom: -99%;
          width: 100%;
        }
        66% {
          left: -99.5%;
          bottom: 0;
          width: 100%;
        }
        100% {
          left: 0;
          bottom: 0;
          width: 25%;
        }
      }